<div *ng-if="game == null || players == null">
  Loading game...
</div>
<div *ng-if="game != null && players != null">
  <paper-material>
    <paper-toolbar class="paper-red">
      <div class="flex">{{ game.title }}</div>
      <paper-icon-button icon="more-vert" (click)="clickMenu($event)"></paper-icon-button>
      <custom-dropdown-list (click)="closeMenu($event)">
        <paper-menu>
          <paper-item *ng-if="!game.isFinished"><paper-button (click)="showFinishGameDialog()">Finish Game</paper-button></paper-item>
          <paper-item *ng-if="game.isFinished"><paper-button (click)="reopenGame()">Re-open Game</paper-button></paper-item>
          <paper-item><paper-button (^click)="showDeleteGameDialog()">Delete Game</paper-button></paper-item>
        </paper-menu>
      </custom-dropdown-list>
    </paper-toolbar>
    
    <table class="data-table">
      <thead>
        <tr>
          <th class="text">round</th>
          <th class="number" *ng-for="var player of players">
            {{ player.name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ng-for="var round of game.rounds; #roundNr = index">
          <td class="text">
            round {{ (roundNr + 1) }}
          </td>
          <td class="number" *ng-for="var action of round.getPlayerActions(players)">
            <span *ng-if="action != null">
              {{ action.score }}
            </span>
          </td>
        </tr>
        <tr *ng-if="game.rounds.length === 0">
          <td class="text" colspan="{{ players.length + 1 }}">
            no rounds played yet
          </td>
        </tr>
      </tbody>
      <tfoot>
        <th class="text">
          total
        </th>
        <th class="number" *ng-for="var player of players">
          {{ getPlayerScore(player) }}
        </th>
      </tfoot>
    </table>
  </paper-material>

  <paper-material *ng-if="!game.isFinished">
    <paper-toolbar>
      <div class="flex">Next action for {{ getNextPlayer().name }}</div>
    </paper-toolbar>
    
    <form [ng-form-model]="actionForm" (submit)="submitActionForm($event)">
      <paper-input-container>
        <label>word</label>
        <input id="" is="iron-input" [ng-form-control]="actionForm.controls.word" type="text">
      </paper-input-container>
  
      <paper-input-container>
        <label>score</label>
        <input is="iron-input" [ng-form-control]="actionForm.controls.score" value="" type="text">
      </paper-input-container>
  
      <button type="submit" style="display:none">hidden submit-button</button>
  
      <div class="buttons layout horizontal end-justified">
        <paper-button raised (click)="submitActionForm($event)">
           Add Word
        </paper-button>
        <paper-button (click)="skipRound()">
           Skip Round
        </paper-button>
      </div>
    </form>
  </paper-material>
</div>

<paper-dialog class="finish-game-dialog" modal>
  <p>
    Are you sure the game is finished?
  </p>
  <div class="buttons">
    <paper-button dialog-confirm autofocus (click)="finishGame()">Finish it</paper-button>
    <paper-button dialog-dismiss autofocus>Cancel</paper-button>
  </div>
</paper-dialog>

<paper-dialog class="delete-game-dialog">
  <p>
    Are you sure you want to delete the game? This action cannot be undone!
  </p>
  <div class="buttons">
    <paper-button dialog-confirm autofocus (click)="deleteGame()">Delete it</paper-button>
    <paper-button dialog-dismiss autofocus>Cancel</paper-button>
  </div>
</paper-dialog>
