<paper-drawer-panel id="main-drawer" *ng-if="hasAuth">
  <paper-header-panel drawer>
        <!-- Drawer Toolbar -->
        <paper-toolbar>
          <span class="paper-font-title">Menu</span>
        </paper-toolbar>

        <!-- Drawer Content -->
        <paper-menu>  
          <a router-link="home" href="">
            <iron-icon icon="home"></iron-icon>
            <span>Home</span>
          </a>

          <a router-link="new-game" href="">
            <iron-icon icon="info"></iron-icon>
            <span>New Game</span>
          </a>

          <a href="" (click)="logOut($event)">
            <iron-icon icon="mail"></iron-icon>
            <span>Log Out</span>
          </a>
        </paper-menu>
  </paper-header-panel>

  <paper-header-panel main>
    <paper-toolbar>
      <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
      <div>Scrabble Score Keeper</div>
    </paper-toolbar>
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </paper-header-panel>
</paper-drawer-panel>


<div *ng-if="!hasAuth">
  <router-outlet></router-outlet>
</div>
